* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_844 {
  width: 100%;
  height: 1024px;
  background: url("../images/v1_844.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_926 {
  width: 100%;
  height: 671px;
  background: rgba(250,247,236,1);
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 1px;
  overflow: hidden;
}
.v1_959 {
  width: 311px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 867px;
  left: 69px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v1_931 {
  width: 113px;
  height: 169px;
  background: url("../images/v1_931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 623px;
  left: 157px;
  overflow: hidden;
}
.v1_884 {
  width: 100%;
  height: 357px;
  background: rgba(0,0,0,0.019999999552965164);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 19px;
  overflow: hidden;
}
.v1_890 {
  width: 149px;
  color: rgba(250,247,236,1);
  position: absolute;
  top: 264px;
  left: 646px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1_887 {
  width: 401px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 89px;
  left: 521px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v1_888 {
  width: 231px;
  color: rgba(253,216,53,1);
  position: absolute;
  top: 184px;
  left: 605px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1_891 {
  width: 552px;
  height: 235px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 392px;
  overflow: hidden;
}
.v1_893 {
  width: 440px;
  height: 206px;
  background: url("../images/v1_893.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 500px;
  overflow: hidden;
}
.v1_894 {
  width: 240px;
  height: 48px;
  background: rgba(253,216,53,1);
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 100px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_895 {
  width: 185px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 127px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_903 {
  width: 136px;
  height: 39px;
  background: rgba(253,216,53,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 80px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_905 {
  width: 136px;
  height: 39px;
  background: rgba(253,216,53,1);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 224px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_902 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 119px;
  left: 252px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_901 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 119px;
  left: 83px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_918 {
  width: 190px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 551px;
  left: 119px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_919 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 578px;
  left: 108px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_920 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 788px;
  left: 106px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_921 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 815px;
  left: 119px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_923 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 597px;
  left: 1212px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_924 {
  width: 230px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 622px;
  left: 1161px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_929 {
  width: 285px;
  height: 142px;
  background: url("../images/v1_929.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 32px;
  overflow: hidden;
}
.v1_930 {
  width: 262px;
  height: 262px;
  background: url("../images/v1_930.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 77px;
  overflow: hidden;
}
.v1_932 {
  width: 435px;
  height: 435px;
  background: url("../images/v1_932.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 217px;
  left: 1046px;
  overflow: hidden;
}
.v1_933 {
  width: 561px;
  height: 609px;
  background: rgba(253,216,53,1);
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 445px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v1_935 {
  width: 583px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 498px;
  left: 430px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v1_934 {
  width: 348px;
  height: 319px;
  background: rgba(27,94,32,1);
  opacity: 1;
  position: absolute;
  top: 718px;
  left: 1102px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_936 {
  width: 381px;
  height: 69px;
  background: rgba(250,247,236,1);
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 532px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_944 {
  width: 381px;
  height: 69px;
  background: rgba(250,247,236,1);
  opacity: 1;
  position: absolute;
  top: 735px;
  left: 532px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_946 {
  width: 381px;
  height: 69px;
  background: rgba(250,247,236,1);
  opacity: 1;
  position: absolute;
  top: 867px;
  left: 532px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_941 {
  width: 349px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 627px;
  left: 545px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1_942 {
  width: 247px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 753px;
  left: 599px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1_948 {
  width: 353px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 885px;
  left: 543px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1_950 {
  width: 242px;
  height: 242px;
  background: url("../images/v1_950.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 471px;
  left: 1003px;
  overflow: hidden;
}
.v1_951 {
  width: 242px;
  height: 242px;
  background: url("../images/v1_951.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 875px;
  left: 286px;
  transform: rotate(-66deg);
  overflow: hidden;
}
.v1_953 {
  width: 291px;
  height: 291px;
  background: url("../images/v1_953.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 779px;
  left: 336px;
  overflow: hidden;
}
.v1_957 {
  width: 291px;
  height: 291px;
  background: url("../images/v1_957.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1025px;
  overflow: hidden;
}
.v1_955 {
  width: 291px;
  height: 291px;
  background: url("../images/v1_955.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 309px;
  overflow: hidden;
}
.v1_961 {
  width: 387px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 916px;
  left: 26px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_962 {
  width: 311px;
  color: rgba(46,125,50,1);
  position: absolute;
  top: 750px;
  left: 1128px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v1_964 {
  width: 295px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 795px;
  left: 1128px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_965 {
  width: 253px;
  height: 46px;
  background: rgba(250,247,236,1);
  opacity: 1;
  position: absolute;
  top: 908px;
  left: 1149px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_967 {
  width: 253px;
  height: 46px;
  background: rgba(46,125,50,1);
  opacity: 1;
  position: absolute;
  top: 966px;
  left: 1149px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_966 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 920px;
  left: 1166px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_969 {
  width: 123px;
  color: rgba(250,247,236,1);
  position: absolute;
  top: 978px;
  left: 1212px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
